@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  /* .npm__react-simple-code-editor__textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
  } */

  .fireworks-container {
    position: relative;
    overflow: hidden; /* Để đảm bảo các bông tuyết không ra ngoài vùng chứa */
  }

  .snowflake {
    position: absolute;
    width: 10px; /* Kích thước của bông tuyết */
    height: 10px; /* Kích thước của bông tuyết */
    background-color: white; /* Màu sắc của bông tuyết */
    border-radius: 50%; /* Để tạo hình tròn */
    opacity: 0.8; /* Độ trong suốt của bông tuyết */
    animation: fall 5s linear forwards; /* Hiệu ứng rơi */
  }

  @keyframes fall {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100vw, 100vh); /* Kết thúc ở góc dưới bên phải */
      opacity: 0; /* Biến mất khi đến cuối */
    }
  }

  .token.keyword {
    color: #ff79c6; /* Màu hồng cho từ khóa */
  }

  .token.string {
    color: #50fa7b; /* Màu xanh lá cho chuỗi */
  }

  .token.comment {
    color: #6272a4; /* Màu xanh dương cho chú thích */
  }

  .token.function {
    color: #bd93f9; /* Màu tím cho hàm */
  }
}
.dark {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
